body {
	background-color: black;
}

h2, h3, p {
	margin: 0;
}

.page {
	max-width: 880px;
	min-width: 282px;
	margin: 0 auto;
	padding: 0 19px 0;
	background: black;
	color: white;
	font-size: 18px;
	font-family: Inter, sans-serif;
}